/URLTester/obj/*
/URLTester/bin/*
/UnitTestProject1/bin/*
/UnitTestProject1/obj/*
URLTester/301test.csv
URLTester/301test.json
.vs/URLTester/v15/.suo
.vs/URLTester/v15/Server/sqlite3/db.lock
.vs/URLTester/v15/Server/sqlite3/storage.ide
.vs/URLTester/v15/Server/sqlite3/storage.ide-shm
.vs/URLTester/v15/Server/sqlite3/storage.ide-wal
*.dll
packages/*
